@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-inclusive: "Inclusive Sans", sans-serif; 
  --font-jakarta: "Plus Jakarta Sans", sans-serif; 
}


* {
  @apply font-jakarta
}


.EmojiPickerReact {
  /* --epr-emoji-size: 100px; */
  --epr-bg-color: var(--chakra-colors-bg-subtle) !important;
  --epr-search-input-bg-color: var(--chakra-colors-bg-subtle) !important;
  --epr-search-input-bg-color-active: var(--chakra-colors-bg-subtle) !important;
  --epr-category-label-bg-color: var(--chakra-colors-bg-emphasized) !important;
  /* --epr-category-label-text-color: var(--chakra-colors-fg-emphasized) !important; */
  --epr-picker-border-color: var(--chakra-colors-border) !important;
  /* --epr-hover-bg-color: red !important; */
}